.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.full-screen > * {
  min-height: calc(100vh - 162px);
}

.dividerBar {
  font-size: 2.5em;
  transform: scale(0.5, 2);
}
